<div class="container">
    <div class="container-center">
        <div class="header">
            <div style="align-content: flex-start; margin-left: 30px">
                <img src="assets/LOGO.jpeg" style="cursor: auto; width: 233px" alt="" />
            </div>
            <div style="align-content: flex-end; margin-right: 40px;color: white;display: flex;flex-wrap: wrap;align-items: center;justify-content: end;gap: 15px">
                <p></p>

                <img src="assets/world.png" alt="" style="width: 23px;margin-right: -7px; margin-bottom: 4px">
                <p>EN</p>
                <p class="hide-mobil">FAQs</p>
                <button class="login-bottom hide-mobil">Log In</button>
                <div style="background-color: black">
                    <img class="show-mobil" src="assets/menu.png" alt="" style="width: 23px;margin-right: -7px">
                </div>

            </div>
        </div>

        <div class="section1">
            <div class="section1A">
                <div>

                    <h2 style=" font-size: 37px;">Take your last first step toward quitting for good</h2>
                </div>

                <div>
                    <p>
                        Discover a new approach to nicotine cessation that starts with you. Find research-based solutions and coaching to help you stay on track.
                    </p>
                </div>

                <div class="banner-button">
                    <button type="button" class="action-button-primary">
                      Get started
                  </button>

                    <button type="button" class="action-button">
                      Chat to learn more
                  </button>
                </div>
            </div>
            <div class="banner-image-container">
                <img class="banner-image" src="assets/Img3.jpg" alt="" />
            </div>
        </div>

        <div class="section2">
            <div style="margin-left: 45px">
                <p>
                    Need support to help your teen quit vaping? Discover what’s available to you.
                </p>
            </div>
            <div>
                <button type="button" class="action-button-primary lets-go">
                  Let’s go
              </button>
            </div>
        </div>

        <div class="section-3">
            <div style="display: flex; flex: 1">
                <p class="section-3-paragraph">
                    Join 4.3 million others who’ve found a better way to quit smoking
                </p>
            </div>
            <div class="section-3A">
                <img class="section-3B" src="./assets/comilla-left.png" alt="" />
                <p style="z-index: 999">
                    I started smoking when I was 13. Now I have three boys and as a father, I would do anything to keep them from starting to smoke. It took 25 years for quitting to happen for me, but it was worth the wait.
                </p>
                <p style="font-weight: bold">Natalie, tobacco-free since 2019</p>
                <div style="display: flex; gap: 10px">
                    <img src="./assets/Desktop Circle Icon Button.png" alt="" />

                    <img src="./assets/Desktop Circle Icon ButtonRight.png" alt="" />
                </div>
                <div class="section-3C">
                    <img style="width: 55px; position: relative; top: -140px" src="./assets/comilla-right.png" alt="" />
                </div>
            </div>
        </div>

        <div class="container-cards">
            <div class="text-section-cards">
                <h1 style="font-weight: 100">What to expect</h1>
                <p style="font-size: 14px">
                    Learn more about what’s included in your program and explore the tools available to support your personalized Quit Plan.
                </p>
            </div>

            <div class="cards">
                <div class="card">
                    <div class="sectionA">
                        <img class="imgA" src="assets/imgA1.jpeg" style="" alt="" />
                    </div>
                    <div class="sectionB">
                        <p class="p">
                            Personalized Coach Support
                        </p>
                        <p class="textCard">
                            Find a coach who will help you create a Quit Plan and offer guidance at every step. Connect via Text A Coach℠, chat, or call 1-855-260-9713 toll free.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="sectionA">
                        <img class="imgA" src="assets/imgA2.jpeg" alt="" />
                    </div>
                    <div class="sectionB">
                        <p class="p">
                            One Stop for Online Resources
                        </p>
                        <p class="textCard">
                            Get daily advice on how to manage triggers, track progress you’ve made, and connect with others who are trying to quit—all in one place.
                        </p>
                    </div>
                </div>



                <div class="card">
                    <div class="sectionA">
                        <img class="imgA" src="assets/imgA3.jpeg" alt="" />
                    </div>
                    <div class="sectionB">
                        <p class="p">


                            Long-Term Success
                        </p>
                        <p class="textCard">

                            Rest assured your Quit Plan is designed to help you make changes that last, with ongoing coach support throughout the program and beyond.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="sectionA">
                        <img class="imgA" src="assets/imgA4.jpeg" alt="" />
                    </div>
                    <div class="sectionB">
                        <p class="p">
                            Lessons on Living Tobacco Free
                        </p>
                        <p class="textCard">
                            Understand how to stay motivated, beat urges, and use medications to enjoy life free from tobacco.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="sectionA">
                        <img class="imgA" src="assets/imgA5.jpeg" alt="" />
                    </div>
                    <div class="sectionB">
                        <p class="p">
                            Access Anywhere, Anytime
                        </p>
                        <p class="textCard">
                            Use the mobile app to set your quit date, read tips to beat cravings, and message your coach for 24/7 support from wherever you are.
                        </p>
                    </div>
                </div>

            </div>
        </div>



        <div class="section-5">
            <div class="text-section-5">
                <h1 style="font-weight: 100;font-size: 27px;">It’s your time to quit now</h1>
                <p style="font-size: 14px">
                    Learn to manage triggers and discover skills that can help you kick cigarettes to the curb and overcome cravings once and for all.
                </p>
            </div>

            <div class="banner-button-section-5">

                <button type="button" class="action-button-primary">I’m ready</button>

                <button type="button" class="action-button-bottom-section-5">Chat to learn more</button>

            </div>
            <div class="img">
                <img src="assets/Button.png" alt="">
            </div>
        </div>

        <div class="terms">
            <a>Help Center</a>
            <a>Privacy</a>
            <a>Terms</a>
            <a>Accessibility</a>
            <a>Non-Discrimination Notice</a>
            <a>© 2023 All Rights Reserved</a>
        </div>
    </div>
</div>